<ion-header>
  <ion-toolbar>
    <ion-title>wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-img src="/assets/prime.jpg"></ion-img>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-left">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Wallet Balance</ion-card-subtitle>
            <ion-card-title>200</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="ion-float-right">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Wallet Pay Later</ion-card-subtitle>
            <ion-card-title>20000</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="ion-float-right">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Wallet Pay UPI</ion-card-subtitle>
            <ion-card-title>santosh@upi.com</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment scrollable>
    <ion-segment-button value="donate">
      <ion-icon name="logo-paypal"></ion-icon>
      <ion-label>Donations</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rewards">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Your Rewards</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transactions">
      <ion-icon name="print-outline"></ion-icon>
      <ion-label>Your Transactions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="kyc">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>KYC</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>