<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Orders
    </ion-list-header>
    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label>Your Orders</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label>Subscribe and Save</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Account Settings
    </ion-list-header>
    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label>Login and Security</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label>Your Addresses</ion-label>
    </ion-item>
  </ion-list>
</ion-content>